@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;800&family=Wire+One&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    /*## VARIABLES ##*/
    /*Font style*/
    --font-family-title: 'Kufam', sans-serif;
    /*w400 w800*/
    --font-family: sans-serif;
    /*w400*/
    --fs-title: 1.8rem;
    --fs-normal: 1.5rem;
    --fs-tooltip: 1.0rem;
    --fs-detail: 0.7rem;
    --fw-normal: 400;
    --fw-bold: 800;
    /*Colors*/
    --color-bg: red;
    --color-container: snow;
    --color-font: black;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
}

.source-link {
    list-style: none;
}

.source-link.active {
    background-color:lightgray;
    padding: 5px;
}

.source-link>a {
    text-decoration: none;
}

.source-link>a:visited {
    color: inherit;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

@media (max-width: 1000px) {
    main {
        display: block;
    }
}

.navbar,
h1,
h2,
.attribution {
    font-family: var(--font-family-title);
    margin: 0;
}

h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-title)
}

h2 {
    font-size: var(--fs-normal)
}

.canvas>* {
    font-family: var(--font-family);
    font-size: var(--fs-detail);
    text-align: center;
    cursor: default;
}

foreignObject {
    text-align: start;
}

#tooltip {
    width: max-content;
    height: max-content;
    padding: 1rem 0.5rem;
    background-color: var(--color-container);
    opacity: 0.9;
    position: absolute;
    box-shadow: 0px 0px 34px 6px rgba(0,0,0,0.48);
    font-family: var(--font-family-title);
    font-size: var(--fs-tooltip);
    pointer-events: none;
}

h2,
.canvas>* {
    font-weight: var(--fw-normal);
}













/*Footer*/
.attribution {
    width: max-content;
    font-size: var(--fs-detail);
    font-weight: var(--fw-bold);
    margin: auto;
}

.attribution>a {
    color: var(--color-font);
}